.container {
  width: max-content !important;
}

h1 {
  text-align: center;
  margin: 30px !important;
  color: #2f4f4f;
}

.nav-user {
  margin-left: auto;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question-tabs li {
  padding-right: 10px;
}

.btn-submit {
  margin-top: 10px;
}

.question {
  border-bottom: solid 1px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 20px;
  color: #2f4f4f;
}

.question-form {
  margin-left: 20px;
}